{% extends 'withHeader.html.twig' %}

{% block title %}Album{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/photos.css') }}">
{% endblock %}

{% block main %}
    <div class="container col-xs-12 d-flex-column justify-content-center">
        <div class="album">
            {% for photo in photos %}
                    <img class="photo" src="{{ asset('img/pictures/') }}{{ photo.getMediaPhoto() }}">
            {% endfor %}
        </div>
        <div class="container d-flex justify-content-center">
            <a class="link" href="{{ path('photo_add', {'id': album.id}) }}">{% trans %}Añadir fotos{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/photos.js') }}"></script>
{% endblock %}
