{% extends 'withHeader.html.twig' %}

{% block title %}Edit Socialnet{% endblock %}

{% block main %}
    <div class="container col-6 d-flex align-items-center justify-content-center flex-column">
        <h1>{% trans %}Edit{% endtrans %} {{ social.name }} Socialnet</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="old" value="{{ social.name }}.png">
            <label for="name">{% trans %}Socialnet name{% endtrans %}</label><br>
            <input type="text" name="name" class="form-control" value="{{ social.name }}" pattern="[a-zA-Z áéíóúÁÉÍÓÚ]{2,}" required><br>
            <img src="{{ asset('img/socialnet/') }}{{ social.name }}.png" width="48px" height="48px"><br>
            <label for="avatar">{% trans %}New Image{% endtrans %}</label><br>
            <input type="file" name="image"><br>
            <div class="center">
                <button type="submit" class="btn btn-primary boton">Actualizar</button>
            </div>
        </form>
        {{ include('socialnet_base/_delete_form.html.twig') }}
    </div>
{% endblock %}
