{% extends 'withHeader.html.twig' %}

{% block title %}SocialNet{% endblock %}

{% block main %}
    <div class="col-12 center newSection white"><h2>{% trans %}Select one of your Socialnets or invitations{% endtrans %}</h2></div>
    <div class="container d-flex justify-content-center">
    {% for social in socials %}
        <div class="clicable">
            <button class="transp" onclick="getSocial({{ social.id }})">
                <img class="logoMedium" src="{{ asset('img/socialnet/') }}{{ social.name }}.png" alt="socialnet">
            </button>
            <p class="nameSocial family center upper">{{ social.name }}</p>
        </div>
    {% endfor %}
    </div>
    <div class="container d-flex justify-content-center">
    {% for invitation in invitations %}
        <div class="col-xs-4 col-lg-3 text-center">
        <p class="mini">{% trans %}Te han invitado a:{% endtrans %}</p>
        <a onclick="invitationAcept({{ invitation.getSocialnet.id }})" href=""><img class="logoSmall" src="{{ asset('img/socialnet/') }}{{ invitation.getSocialnet.name }}" alt="logoSocial">
        <p>{{ invitation.getSocialnet.name }}</p></a>
        </div>
    {% endfor %}
    </div>
    <div class="container d-flex justify-content-center newSection">
        <a class="link text-center" href="{{ path('socialnet_base_new') }}">{% trans %}Add a new Socialnet{% endtrans %}</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/socialnet.js') }}"></script>
{% endblock %}
